/* Global color variables */

/* Primary Colors */

$orange: rgb(216, 125, 74);

$light-orange: rgb(251, 175, 133);

$white: rgb(255, 255, 255);

$black: rgb(0, 0, 0);

/* Secondary Colors */

$black: rgb(16, 16, 16);

$dark-grey: rgb(241, 241, 241);

$light-grey: rgb(250, 250, 250);
