@use '../../styles';

.home-container {
  @include styles.flexCenter(center, column);
  width: 100vw;
  z-index: auto;
  overflow: hidden;
  .home-banner {
    position: relative;
    @include styles.flexCenter(center, column);
    background-image: url("../../assets/home/desktop/image-hero.jpg");
    width: 100%;
    height: 730px;
    max-width: styles.$screen-xl-max;
    @media screen and (max-width: styles.$screen-lg-max) {
      background-image: url("../../assets/home/tablet/image-header.jpg");
      background-size: cover;
      height: 729px;
    }
    @media screen and (max-width: styles.$screen-md-max) {
      background-image: url("../../assets/home/tablet/image-header.jpg");
      background-size: cover;
      height: 729px;
    }
    @media screen and (max-width: styles.$screen-sm-max) {
      background-image: url("../../assets/home/mobile/image-header.jpg");
      background-size: cover;
      background-position: center;
      height: 600px;
    }
  }
  .banner-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    height: 60%;
    @media screen and (max-width: styles.$screen-lg-max) {
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .banner-text {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      width: 50%;
      height: 100%;
      margin: 120px 0px 0px 0px;
      @media screen and (max-width: styles.$screen-lg-max) {
        align-items: center;
        text-align: center;
      }
      @media screen and (max-width: styles.$screen-md-max) {
        width: 60%;
      }
      @media screen and (max-width: styles.$screen-sm-max) {
        width: 85%;
      }
      .overline {
        color: styles.$white;
        opacity: 50%;
        @media screen and (max-width: styles.$screen-lg-max) {
          text-align: center;
          width: 100%;
        }
      }
      .banner-header {
        color: styles.$white;
        margin: 0px 0px 0px 0px;
        text-transform: uppercase;
        @media screen and (max-width: styles.$screen-lg-max) {
          text-align: center;
          width: 100%;
        }
        @media screen and (max-width: styles.$screen-md-max) {
          font-size: 36px;
        }
      }
      .banner-body {
        color: styles.$white;
        opacity: 75%;
        width: 75%;
        margin: 0px 0px 0px 0px;
        @media screen and (max-width: styles.$screen-lg-max) {
          text-align: center;
          width: 100%;
        }
      }
      .banner-button {
        position: relative;
        @include styles.flexCenter(center, column);
        width: 160px;
        height: 48px;
        background-color: styles.$orange;
        margin: 0px 0px 0px 0px;
        cursor: pointer;
        @media screen and (max-width: styles.$screen-md-max) {
          margin: 5px 0px 0px 0px;
        }
        .subtitle {
          color: styles.$white;
        }
      }
    }
  }
  .home-body {
    position: relative;
    @include styles.flexCenter(center, column);
    width: 80vw;
    max-width: 1092px;
    z-index: 0;
    @media screen and (max-width: styles.$screen-md-max) {
      width: 90vw;
    }
    @media screen and (max-width: styles.$screen-sm-max) {
      width: 90vw;
    }
    .zx9-speaker-banner {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      background-color: styles.$orange;
      width: 100%;
      height: 560px;
      overflow: hidden;
      margin: 0px 0px 40px 0px;
      border-radius: 10px;
      @media screen and (max-width: styles.$screen-lg-max) {
        height: 720px;
        justify-content: center;
      }
      .zx9-image {
        position: absolute;
        bottom: -15px;
        left: 150px;
        width: 380px;
        height: 450px;
        z-index: 9999;
        object-fit: cover;
        @media screen and (max-width: styles.$screen-lg-max) {
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          top: 70px;
          width: 197px;
          height: 237px;
        }
        @media screen and (max-width: styles.$screen-md-max) {
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          top: 60px;
          width: 180px;
          height: auto;
        }
      }
      .orange-lines {
        position: absolute;
        bottom: -350px;
        left: -130px;
        width: 944px;
        height: 944px;
        object-fit: cover;
        @media screen and (max-width: styles.$screen-lg-max) {
          left: -8%;
          top: -330px;
          bottom: 0px;
          width: 115%;
          height: 140%;
        }
      }
      .text-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 30%;
        height: 305px;
        margin: 0px 90px 0px 0px;
        @media screen and (max-width: styles.$screen-lg-max) {
          justify-content: space-around;
          align-items: center;
          text-align: center;
          margin: 0px;
          width: 50%;
          top: 160px;
        }
        @media screen and (max-width: styles.$screen-md-max) {
          top: 120px;
        }
        @media screen and (max-width: styles.$screen-sm-max) {
          width: 90%;
        }
      }
      .banner-header {
        color: styles.$white;
        margin: 0px 0px 0px 0px;
        text-transform: uppercase;
      }
      .banner-body {
        color: styles.$white;
        opacity: 75%;
        width: 100%;
        margin: 0px 0px 0px 0px;
        @media screen and (max-width: styles.$screen-sm-max) {
          margin: 15px 0px;
        }
      }
      .banner-button {
        position: relative;
        @include styles.flexCenter(center, column);
        width: 160px;
        height: 48px;
        background-color: styles.$black;
        margin: 0px 0px 0px 0px;
        cursor: pointer;
        .subtitle {
          color: styles.$white;
        }
      }
    }
    .zx7-speaker-banner {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background-color: styles.$dark-grey;
      width: 100%;
      height: 320px;
      overflow: hidden;
      margin: 0px 0px 40px 0px;
      border-radius: 10px;
      .zx7-image-desktop {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
        @media screen and (max-width: styles.$screen-lg-max) {
          display: none;
        }
      }
      .zx7-image-tablet {
        display: none;
        @media screen and (max-width: styles.$screen-lg-max) {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          z-index: 0;
          object-fit: cover;
        }
      }
      .zx7-image-mobile {
        display: none;
        @media screen and (max-width: styles.$screen-md-max) {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          z-index: 0;
          object-fit: cover;
        }
      }
      .text-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 30%;
        height: auto;
        margin: 0px 0px 0px 90px;
        @media screen and (max-width: 550px) {
          margin: 0px 0px 0px 30px;
        }
      }
      .banner-header {
        color: styles.$black;
        font-size: 28px;
        margin: 0px 0px 0px 0px;
        text-transform: uppercase;
      }
      .banner-button {
        position: relative;
        @include styles.flexCenter(center, column);
        width: 160px;
        height: 48px;
        background-color: transparent;
        border: 2px solid styles.$black;
        margin: 30px 0px 0px 0px;
        cursor: pointer;
        .subtitle {
          color: styles.$black;
        }
      }
    }
    .yx1-speaker-banner {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 320px;
      overflow: hidden;
      margin: 0px 0px 120px 0px;
      @media screen and (max-width: styles.$screen-md-max) {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0px 0px 80px 0px;
      }
      .yx1-image-desktop {
        position: relative;
        height: 100%;
        z-index: 0;
        object-fit: cover;
        border-radius: 10px;
        @media screen and (max-width: styles.$screen-lg-max) {
          display: none;
        }
      }
      .yx1-image-tablet {
        display: none;
        @media screen and (max-width: styles.$screen-lg-max) {
          position: relative;
          display: block;
          height: 100%;
          z-index: 0;
          object-fit: cover;
          border-radius: 10px;
        }
        @media screen and (max-width: styles.$screen-md-max) {
          display: none;
        }
      }
      .yx1-image-mobile {
        display: none;
        @media screen and (max-width: styles.$screen-md-max) {
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          z-index: 0;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .text-container-background {
        position: relative;
        @include styles.flexCenter(center, column);
        background-color: styles.$dark-grey;
        height: 100%;
        width: 45%;
        border-radius: 10px;
        @media screen and (max-width: styles.$screen-lg-max) {
          width: 100%;
          margin: 0px 0px 0px 15px;
        }
        @media screen and (max-width: styles.$screen-md-max) {
          width: 100%;
          height: 200px;
          margin: 30px 0px 0px 0px;
        }
      }
      .text-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        height: auto;
        margin: 0px 0px 0px 120px;
        @media screen and (max-width: styles.$screen-lg-max) {
          width: 100%;
        }
        @media screen and (max-width: 550px) {
          margin: 0px 0px 0px 50px;
        }
      }
      .banner-header {
        color: styles.$black;
        font-size: 28px;
        margin: 0px 0px 0px 0px;
        text-transform: uppercase;
      }
      .banner-button {
        position: relative;
        @include styles.flexCenter(center, column);
        width: 160px;
        height: 48px;
        background-color: transparent;
        border: 2px solid styles.$black;
        margin: 30px 0px 0px 0px;
        cursor: pointer;
        .subtitle {
          color: styles.$black;
        }
      }
    }
  }
}
