@use '../../styles';

.checkout-container {
  @include styles.flexCenter(center, column);
  width: 100vw;
  z-index: auto;
  overflow: hidden;
  background-color: styles.$checkout;
  .checkout-body {
    position: relative;
    @include styles.flexCenter(center, column);
    width: 80vw;
    max-width: 1092px;
    z-index: 0;
    @media screen and (max-width: styles.$screen-md-max) {
      width: 90vw;
    }
    @media screen and (max-width: styles.$screen-sm-max) {
      width: 100vw;
    }
    .checkout {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: auto;
      .checkout-form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 60%;
        height: 100%;
        .checkout-form-container {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 75%;
          height: 100%;
          padding: 60px 60px;
          background-color: white;
          .checkout-header {
            position: relative;
            margin: 0px 0px 0px 0px;
          }
          .checkout-subheader {
            color: styles.$orange;
            margin: 60px 0px 25px 0px;
          }
          .billing-details-form {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            .double-input {
              position: relative;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              height: auto;
              margin: 20px 0px 0px 0px;
              .input-container {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 48.5%;
                height: auto;
                input {
                  display: inline-block;
                  line-height: 0;
                  width: 100%;
                  margin: -5px 0px 0px 0px;
                  padding: 0;
                }
                label {
                  display: inline-block;
                  width: 100%;
                  margin: 0px 0px 10px 0px;
                  padding: 0;
                }
              }
            }
          }
          .address-form {
          }
          .payment-details-form {
          }
        }
      }
      .summary-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 40%;
        height: auto;
        background: styles.$white;
      }
    }
  }
}
