@use '../../styles';

.footer-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 365px;
  z-index: auto;
  overflow: hidden;
  background-color: styles.$very-dark-grey;
  .footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 100%;
    max-width: 1092px;
    z-index: 0;
    @media screen and (max-width: styles.$screen-md-max) {
      width: 90vw;
    }
    @media screen and (max-width: styles.$screen-sm-max) {
      width: 100vw;
    }
    .orange-line {
      position: absolute;
      display: block;
      width: 101px;
      height: 4px;
      background-color: styles.$orange;
      top: 0;
    }
    .center-footer-container {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 70%;
      .left-footer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 50%;
        height: 100%;
        .logo {
        }
        .footer-paragraph {
          color: styles.$white;
          opacity: 0.5;
        }
        .footer-sentence {
          color: styles.$white;
          opacity: 0.5;
        }
      }
      .right-footer {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        width: 50%;
        height: 50%;
        top: 0;
        right: 0;
        .links-container {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          margin: 15px 0px;
          ul {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            height: auto;
            li {
              color: styles.$white;
              font-size: 13px;
              font-weight: 700;
              letter-spacing: 1.5px;
              margin: 0px 15px;
              text-transform: uppercase;
            }
          }
        }
        .social-media-container {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 100%;
          height: 100%;
          margin: 120px 0px;
          .social {
            position: relative;
            width: 24px;
            height: 24px;
            margin: 0px 15px;
          }
        }
      }
    }
  }
}
