* {
  font-family: "Manrope", sans-serif;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */
}

html,
body {
  overflow-x: hidden;
}

h1 {
  font-size: 56px;
  line-height: 58px;
  font-weight: 700;
  letter-spacing: 2px;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 1.15px;
}

p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

.overline {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 13px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

body {
  position: relative;
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
